<div class="row header">
  <a ui-sref="app.home"><img class="logo col-lg-1" ng-src="./assets/images/logo.png" /></a>


  <div class="dropdown col-lg-8">
    <ul>
      <a ui-sref="app.home"><li href="#" data-toggle="dropdown" class="dropdown-toggle">HOME</li></a>
      <li href="#" data-toggle="dropdown" class="dropdown-toggle">SHOP<b class="caret"></b></li>
      <li href="#" data-toggle="dropdown" class="dropdown-toggle">JOURNAL</li>
      <li href="#" data-toggle="dropdown" class="dropdown-toggle">MORE<b class="caret"></b></li>
    </ul>
  </div>

  <mini-cart></mini-cart>
</div>